body{
    margin: 0;
}
*{
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
}
footer{
    height: 250px;
    
}

.footer-container{
    position: absolute;
    margin-left: 78px;
    margin-right: 78px;
    margin-top: 3637.92px;
    color: #8291A3;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin-bottom: 49px;

    width: 1440px;
    height: 250px;

   
    .logo-translate{

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    }
    
    .info{

        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        width: 297px;
        height: 78px;
    }
    .info-bold{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #1E2123;
    }
    .info-list{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .info-nav {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
    .social-list{
        p{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #1E2123;
        }
    }
    .social-list-item{
        img{
            margin-right: 21px;
        }
    }

    .payment-list{
        img{
            margin-right: 17px;
        }
        display: grid;
        grid-template-columns: 42px 86px 38px 26px 46px 32px;
        column-gap: 15px;
    }
    .logo-container{
        flex-direction: column;
        margin-right: 25px;
        .info{
            margin-top: 41px;
        }
    }

    .info-container{
        
       
       display: grid;
       grid-auto-flow: column;
       grid-template-rows: 17px 17px 17px 17px;

       
        
    }
    .social-list-item{
     
    
      display: grid;
      grid-template-columns: 105px 30px 30px 30px;
      column-gap: 25px;
    }
    
    }
